version: '3.8'
services:
  mongo:
    image: mongo:7
    container_name: wallet-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  redis:
    image: redis:7
    container_name: wallet-redis
    ports:
      - "6379:6379"
  api:
    build: .
    container_name: wallet-api
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - mongo
      - redis
volumes:
  mongo-data: